/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  padding-left: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 40%;
  background: #f1f1f1;
  margin-top: 8px;
}

/* Style the submit button */
form.example button {
  float: right;
  width: 10%;
  padding: 10px;
  background: #6daff1;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top:  8px;
}

form.example button:hover {
  background: #f9fbfd;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}