.container
{
    margin-top: 5%;
    max-width:800px;
    margin-left:25%;
    margin-right:auto;
    padding:1em;
    
}
*{
    box-sizing: border-box;
}
.card
{
    padding: 5%;
    margin: 5%;
    background-color: #f5f5f5;
    border-color: black;
}
label
{
    padding-left:5% ;
    text-align: left;
}